*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(72, 169, 214);
}
.app{
    width: 70%;
    margin: 50px auto;
    background-color: #fff;
    text-align: center;
}
.app__block{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding: 50px 0;
}
.main__button_settings{
    display: flex;
    justify-content: center;
}
.step{
    font-weight: 300;
    color: gray;
}
hr{
    background-color: gray;

}
.template__header{
    font-weight: 400;
}
.main__button h4{
    font-weight: 700;
}
.main__button_icon{
    background-color: #000;
    border: 1px solid rgb(161, 161, 161);
    color: #fff;
    font-size: 30px;
    padding: 0 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -2px;
    cursor: pointer;
    width: 70px;
}
.main__button_icon i{
    font-size: 20px;
}
.add__button_icon i{
    font-size: 20px;
}
.main__button_settings input{
    font-size: 25px;
    padding: 5px 10px;
    border: 1px solid rgb(161, 161, 161);
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80%;
}
.main__button_style{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}
.main__button_settings{
    position: relative;
}
.main__button_background{
    display: flex;
}
.main__button_background input{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 10px;
}
.main__button_color{
    display: flex;
}
.main__button_color input{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 10px;
}
.main__button_pulse{
    display: flex;
}
.template__button{
    background-color: rgb(42, 191, 241);
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;

}
.template__buttons i {
    font-size: 30px;
    color: #fff;
}
.template__buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}
.button__position form{
    display: flex;
    justify-content: center;
}
.current__position{
    display: flex;
    margin: 10px 20px 20px;
}
.range__size{
    width: 30%;
}
.app__block button{
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px 10px;
    background-color: rgb(42, 191, 241);
    color: #fff;
    margin-top: 20px;
    transition: all 0.5s;

}
.button__settings{
    margin-top: 20px;
}
.opening__direction{
    margin-bottom: 50px;
}
.template__button .fa-vk{ 
    margin: 2px 15px 0 0 ;
    font-size: 28px !important;
}
.popup__block{
    margin: 0 auto;
    width: 90%;
    border: 1px solid gray;
    border-radius: 10px;
}
.close__popup{
    color: red;
    float: right;
    cursor: pointer;

}
.popup__top{
    background-color: #E5EAED;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.popup__bot{
    position: relative;
}
.popup__top input{
    width: 60%;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    border-top: 1px solid gray;
    border-radius: 10px;
    outline: none;
    text-align: center;
    background-color: transparent;
}
.add__button_settings{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.add__button_settings input{
    font-size: 25px;
    padding: 5px 10px;
    border: 1px solid rgb(161, 161, 161);
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80%;
}
.add__button_icon{
    background-color: #000;
    border: 1px solid rgb(161, 161, 161);
    color: #fff;
    font-size: 30px;
    padding: 0 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -2px;
    cursor: pointer;
    width: 70px;
}
.add__button_style{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}
.add__button_background{
    display: flex;
}
.add__button_background input{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 10px;
}
.add__button_color{
    display: flex;
}
.add__button_color input{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 10px;
}
.add__button_tab{
    display: flex;
}
.symbols__popup{
    display: none;
    width: 400px;
    height: 30vh;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.26);
    position: absolute;
    background: #fff;
    z-index: 100000;
    top: 41px;
    left: 2vw;
}
.symbols__block{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8 ,1fr);
    margin: 0 auto;
    background: #fff;
    overflow: auto;
    height: 100%;
    padding: 15px;

}
.symbol__piece{
    border: 1px solid gray;
    border-radius: 2px;
    text-align: center;
    padding: 10px 0;
    height: 40px;
}
.symbol__piece i {
    position: relative;
    top: 1px;
}
.filter__popup{
    padding: 10px 10px 0 10px;
}
.filter__popup input{
    font-size: 15px;
    padding: 5px 10px;  
    outline: none;
    width: 90%;
    border-radius: 5px;
    border: 1px solid gray;
}
.get__code textarea{
    resize: none;
    width: 80%;
    margin: 0 auto 30px;
}
.get__code{
    display: flex;
    flex-direction: column;
}
.get__code button{
    width: 80%;
    margin: 0 auto;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: rgb(42, 191, 241);
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
}
.get__code button:hover{
    background-color: rgb(29, 135, 170);
}
.app__block button:hover{
    background-color: rgb(29, 135, 170);
}
input, label{
    cursor: pointer;
}